@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");

:root {
    --green: #17794d;
    --main-color: #2980b9;
    --red: #91443c;
    --orange: #f39c12;
    --light-color: #666;
    --light-bg: #eee;
    --white: #fff;
    --black: #2c3e50;
    --border: 0.1rem solid rgba(0, 0, 0, 0.3);
    --box-shodow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Vidaloka', serif; */
}

*::selection {
    background-color: var(--main-color);
    color: var(--white);
}

*::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--light-bg);
    /* padding-bottom: 8rem; */
}

section {
    padding: 2.5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    padding: 2.5rem 0;
    font-size: 3rem;
    color: var(--green);
    text-transform: capitalize;
    font-family: "Vidaloka", serif;
}

.empty {
    width: 100%;
    background-color: var(--white);
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--red);
    border-radius: 0.5rem;
    text-transform: capitalize;
    box-shadow: var(--box-shodow);
    border: var(--border);
}

.btn,
.delete-btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem 3rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1.8rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    font-family: "Vidaloka", serif;
    margin: 1rem 0 2rem 0;
}

.btn {
    background-color: var(--main-color);
}

.delete-btn {
    background-color: var(--red);
}

.btn:hover,
.delete-btn:hover {
    background-color: var(--green);
    color: var(--white);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000000000;
    box-shadow: var(--box-shodow);
    background-color: var(--green);
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header .flex .logo {
    color: var(--white);
    font-family: "Vidaloka", serif;
    font-size: 4rem;
    letter-spacing: 1rem;
}

.header .flex .navbar a {
    color: var(--white);
    margin-left: 2rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    transition: 0.7s;
    font-family: "Roboto", sans-serif;
}
.header .flex .navbar #landingpageOut1 {
    cursor: pointer;
    border-left: 2px solid var(--black);
    padding-left: 1.2rem;
}

.header .flex .navbar a:hover {
    color: var(--black);
}

.header .flex .navbar a span {
    margin-left: 1rem;
    padding: 0.3rem 0.7rem;
    background-color: var(--white);
    color: var(--green);
    border-radius: 0.5rem;
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--white);
    display: none;
}

.messageCon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 100vw;
    max-width: 600px;
    background: red;
    z-index: 10000000000;
    padding: 0.3rem 0.7rem 0.4rem 0.7rem;
    background: #fff;
    border-radius: 1rem;
}

.messageCon .messInputCon {
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 100%;
    height: 3rem;
    border: 1px solid #000;
    border-radius: 2rem;
}
.messageCon .messInputCon > input {
    width: 90%;
    height: 100%;
    font-size: 1.1rem;
    border: 0;
    outline: none;
    background: none;
    text-indent: 1rem;
}
.messageCon .messInputCon > span {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 0.3rem;
    width: 3rem;
    font-size: 2.3rem;
    position: absolute;
}

.messageCon .left {
    text-align: left;
    margin-bottom: 1rem;
}
.messageCon .right {
    text-align: right;
    margin-bottom: 0.5rem;
}

.product-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 15rem);
}

.product-form form {
    border: var(--border);
    border-radius: 0.5rem;
    padding: 2rem;
    width: 50rem;
    background-color: var(--white);
    box-shadow: var(--box-shodow);
}

.product-form form h3 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--green);
    text-transform: capitalize;
    text-align: center;
}

.product-form form p {
    padding-top: 1rem;
    font-size: 1.7rem;
    color: var(--light-color);
}

.product-form form p span {
    color: red;
}

.product-form form .box {
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--light-bg);
    margin: 1rem 0;
    font-size: 1.8rem;
    color: var(--green);
    padding: 1.4rem;
}

.products > select {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    background: var(--green);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 1rem;
    position: relative;
    font-size: 2.3rem;
}
.products > select > option {
    font-size: 2.3rem;
}

.products .searchCon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    gap: 2rem;
    border: 1px solid #00e77f;
    box-shadow: -1px 2px 4px 3px rgba(0, 231, 127, 1);
    -webkit-box-shadow: -1px 2px 4px 3px rgba(0, 231, 127, 1);
    -moz-box-shadow: -1px 2px 4px 3px rgba(0, 231, 127, 1);
    width: 100vw;
    max-width: 650px;
    border-radius: 3rem;
    margin: 0 auto 4rem auto;
    padding: 0.5rem 0;
    transition: 0.3s ease-out;
    position: relative;
}
.products .searchCon:hover {
    color: #00e77f;
}
.products .searchCon > input {
    width: 90%;
    height: 4rem;
    background: none;
    font-size: 1.5rem;
    text-indent: 1rem;
}
.products .searchCon > span {
    cursor: pointer;
}

.products .searchCon .searchRes {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -5.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}
.products .searchCon .searchRes > a {
    background: #fff;
    padding: 1rem 0.5rem;
    font-size: 1.6rem;
    color: #000;
    transition: 0.1s;
    position: relative;
}
.products .searchCon .searchRes > a:hover {
    background: #2c3e50;
    color: #fff;
}

.products .searchCon .searchRes > a > img {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
}

.products .box-container {
    /* display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   align-items: flex-start;
   justify-content: center;
   gap: 1.5rem; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.4rem;
}

.products .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shodow);
    background-color: var(--white);
    padding: 2rem 2rem 20rem 2rem;
    width: 100vw;
    max-width: 350px;
    height: 100%;
    min-height: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 1rem;
}

/* absolute buttons */
.products .box-container .box > span {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 0.3rem;
}

/* view_product btn */
.products .box-container .box > span .view_product {
    text-align: center;
    padding: 1rem 3rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1.8rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    font-family: "Vidaloka", serif;
    background: cadetblue;
    margin: 0 auto;
}
.products .box-container .box > span .view_product:hover {
    background: var(--light-bg);
    color: var(--black);
}

.products .box-container .box > span > input {
    width: 100%;
    margin: 0;
}

.products .box-container .box .image {
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 2rem;
}

.products .box-container .box .name {
    font-size: 3rem;
    color: var(--green);
    text-align: center;
    margin-bottom: 0.3rem;
    font-family: "Vidaloka", serif;
}
.products .box-container .box .info {
    font-size: 2rem;
    color: var(--black);
    max-height: 120px;
    overflow-y: auto;
    margin-bottom: 0.3rem;
    font-family: "Vidaloka", serif;
    font-weight: 300;
}
.products .box-container .box .specs {
    font-size: 1.5rem;
    color: var(--black);
}
.products .box-container .box .name > em,
.products .box-container .box .info > em,
.products .box-container .box .specs > em {
    background: var(--light-bg);
}

.products .box-container .box .flex {
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.products .box-container .box .price {
    font-size: 1.7rem;
    color: var(--red);
    margin-right: auto;
    font-family: "Roboto", sans-serif;
}

.products .box-container .box .flex .qty {
    border: var(--border);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 6.5rem;
    font-size: 1.8rem;
    color: var(--green);
}

.products .box-container .box .flex .fa-edit {
    background-color: var(--orange);
    border-radius: 0.5rem;
    font-size: 1.7rem;
    color: var(--white);
    height: 3.5rem;
    width: 4.5rem;
    cursor: pointer;
}

.products .box-container .box .flex .fa-edit:hover {
    background-color: var(--green);
}

.products .box-container .box .sub-total {
    padding-bottom: 1rem;
    font-size: 1.7rem;
    color: var(--light-color);
}

.products .box-container .box .sub-total span {
    color: var(--red);
}

.products {
    position: relative;
}

.products .cart-total {
    position: absolute;
    right: -290px;
    top: 11rem;
    max-width: 40rem;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 0.5rem;
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shodow);
}

@media (max-width: 768px) {
    .products .cart-total {
        position: relative;
        top: auto;
        left: auto;
        margin-top: 2rem;
        margin-left: -260px;
        margin-right: auto;
        width: calc(100% - 4rem);
    }
}

.products .cart-total p {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--light-color);
}

.products .cart-total p span {
    color: var(--red);
}

.checkout .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}

.checkout .row form {
    flex: 1 1 50rem;
    background-color: var(--white);
    box-shadow: var(--box-shodow);
    padding: 2rem;
    border-radius: 0.5rem;
    border: var(--border);
}

.checkout .row form h3 {
    font-size: 2.5rem;
    color: var(--green);
    padding-bottom: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.checkout .row form .input {
    width: 100%;
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    padding: 1.4rem;
    color: #000;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.checkout .row form .flex {
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
}

.checkout .row form .flex .box {
    flex: 1 1 30rem;
}

.checkout .row form p {
    padding-top: 1rem;
    font-size: 1.6rem;
    color: var(--light-color);
}

.checkout .row form p span {
    color: var(--red);
}

.checkout .row form textarea {
    height: 15rem;
    resize: none;
}

.checkout .row .summary {
    background-color: var(--white);
    box-shadow: var(--box-shodow);
    padding: 2rem;
    border-radius: 0.5rem;
    border: var(--border);
    flex: 1 1 30rem;
}

.checkout .row .summary .title {
    font-size: 2.2rem;
    color: var(--green);
    border-bottom: var(--border);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    padding-bottom: 1.5rem;
}

.checkout .row .summary .flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

.checkout .row .summary .flex img {
    height: 6rem;
    width: 6rem;
    object-fit: contain;
}

.checkout .row .summary .flex .name {
    font-size: 1.8rem;
    color: var(--green);
    padding-bottom: 0.5rem;
}

.checkout .row .summary .flex .price {
    font-size: 1.6rem;
    color: var(--red);
}

.checkout .row .summary .grand-total {
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.checkout .row .summary .grand-total span {
    color: var(--light-color);
}

.checkout .row .summary .grand-total p {
    color: var(--red);
}

.orders .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.orders .box-container .box {
    background-color: var(--white);
    border-radius: 0.5rem;
    border: var(--border);
    padding: 2rem;
    overflow-x: hidden;
}

.orders .box-container .box .date {
    padding: 1rem 1.5rem;
    color: var(--light-color);
    background-color: var(--light-bg);
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}

.orders .box-container .box .date i {
    margin-right: 1rem;
    color: var(--main-color);
}

.orders .box-container .box .image {
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin: 1rem 0;
}

.orders .box-container .box .name {
    font-size: 2rem;
    color: var(--green);
    text-overflow: ellipsis;
    margin: 1rem 0;
    overflow-x: hidden;
}

.orders .box-container .box .price {
    color: var(--red);
    font-size: 1.8rem;
    padding: 0.5rem 0;
}

.orders .box-container .box .status {
    padding-top: 0.5rem;
    font-size: 1.7rem;
}

.orders .box-container .box:hover {
    box-shadow: var(--box-shodow);
}

.orders .box-container .box:hover .date {
    background-color: var(--green);
    color: var(--white);
}
.orders .box-container .box:hover .date i {
    color: var(--white);
}

.order-details .box-container {
    background-color: var(--white);
    border: var(--border);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: var(--box-shodow);
}

.order-details .box-container .box {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-x: hidden;
}

.order-details .box-container .box .col {
    flex: 1 1 40rem;
}

.order-details .box-container .box .col .image {
    height: 17rem;
    width: 100%;
    object-fit: contain;
    margin: 1rem 0;
}

.order-details .box-container .box .col .title {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.7rem;
    color: var(--light-color);
    background-color: var(--light-bg);
    display: inline-block;
    text-transform: capitalize;
}

.order-details .box-container .box .col .title i {
    margin-right: 1rem;
    color: var(--green);
}

.order-details .box-container .box .col .price {
    color: var(--red);
    font-size: 1.8rem;
    padding: 0.5rem 0;
}

.order-details .box-container .box .col .name {
    font-size: 2rem;
    color: var(--green);
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.order-details .box-container .box .col .user {
    padding: 0.7rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.5;
}

.order-details .box-container .box .col .user i {
    margin-right: 1rem;
    color: var(--main-color);
}

.order-details .box-container .box .col .grand-total {
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--white);
    border-radius: 0.5rem;
    text-transform: capitalize;
    margin-top: 1.5rem;
}

.order-details .box-container .box .col .grand-total span {
    color: var(--orange);
}

.order-details .box-container .box .col .status {
    font-size: 1.8rem;
    padding: 0.5rem 0;
}

/* sign out */
.signout {
    padding: 2rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.signout > h2 {
    font-size: 1.6rem;
    text-align: center;
    background: var(--green);
    padding-left: 2rem;
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.signout > h2 i {
    font-size: 4rem;
}

.payment_methods {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.payment_methods img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.payment_methods .cod img{
   width: 50%;
}
.payment_methods label {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 120px;
    gap: 1rem;
    font-size: 1.3rem;
    padding: .5rem;
    border-radius: 5px;
    border: 5px solid grey;
}
.payment_methods input[type="radio"]:checked + label{
   border-color: var(--green);
}
.payment_methods input[type="radio"]{
   display: none;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--green);
        padding: 1rem 2rem;
        border-top: 0.1rem solid var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.2s linear;
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .flex .navbar a {
        display: block;
        width: 100%;
        margin: 1rem 0;
        padding: 1rem 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .products .box-container {
        grid-template-columns: 1fr;
    }

    .orders .box-container {
        grid-template-columns: 1fr;
    }
}
.box_process_payment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shodow);
    background: white;
}
.box_process_payment img{
    width: 350px;
    height: 300px;
}
.box_process_payment a{
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    padding: .5rem 1rem;
    background: var(--green);
}
.box_process_payment.success h1{
    font-size: 5rem;
    font-weight: bold;
    color: var(--green);
}
.box_process_payment.success p{
    font-size: 2rem;
    color: var(--light-color);
}
.box_process_payment.failed h1{
    font-size: 5rem;
    font-weight: bold;
    color: var(--red);
}
.box_process_payment.failed p{
    font-size: 2rem;
    color: var(--light-color);
}